<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Eccles Airlines</title>
</head>
<body style="background-color: skyblue ;">
    

<h1 style="text-align:center ; color: brown;">Eccles Airlines Ltd</h1>

<p style="text-align:center;">Welcome to the Eccles Airlines limited. We offer you the best value at your money. 
    You will love the journey with us.
</p><br><br><br>

<form action="" style="position:center">
    <input type="search" placeholder="Enter the departure Country">

    <input type="search" placeholder="Enter the destination Country">

    <input type="Date" placeholder="Enter the departure date">

    <input type="date">
</form>

    
</body>


</html>